{% extends "base.html" %}

{% block content %}
<p></p>
<h1>{{ title }}</h1>
<p></p>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.floor.label }}<br>
        {{ form.floor(class="form-control") }}<br>
        {% for error in form.floor.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.am_m.label }}<br>
        {{ form.am_m(class="form-control") }}<br>
        {% for error in form.am_m.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.am_f.label }}<br>
        {{ form.am_f(class="form-control") }}<br>
        {% for error in form.am_f.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}