{% extends "base.html" %}

{% block content %}
<br>
{% if current_user.is_authenticated %}
<p>
    <a href="/generate_plan" class="btn btn-info">Сгенерировать новый список</a>
</p>
<h2>{{ error }}</h2>
{% endif %}
<br>
<h1>График дежурств</h1>
<br>
<table class="table">
    <thead>
    <tr>
        <th>Этаж</th>
        {% for item in ti %}
        <th>{{ item }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for i in floors_of_posts %}
    <tr>
        <td>
            {{ i }}
        </td>
        {% for item in ti %}
            <td>
                {% for post in posts_x %}

                    {% if post[0] == i and post[1] == item  %}

                        {% for students in posts_final %}
                            {% if students[3] == item and students[2] == i %}
                            {% for s in students[0] %}
                                {{ s[1] }} {{ s[0][0] }}<br>
                            {% endfor %}
                            {% for s in students[1] %}
                                {{ s[1] }} {{ s[0][0] }}<br>
                            {% endfor %}
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}

    </tbody>
</table>
<!--{% for item in items %}-->
<!--{{ item }}-->
<!--{% endfor %}-->
<!--<br>-->
<!--<br>-->
<!--{% for item in items1 %}-->
<!--{{ item[0][0] }} {{ item[1] }}<br>-->
<!--{% endfor %}-->
<!--<br>-->
<!--{% for item in items1 %}-->
<!--{{ item }}-->
<!--{% endfor %}-->

<!--{% endblock %}-->
